<app-nav></app-nav>
<div *ngFor="let product of product">
  <h3>{{ product.title }}</h3>
  <p>ID: {{ product.id }}</p>

  <p>Price: {{ product.price }}</p>
  <img class="image" [src]="product.image" alt="{{ product.title }} Image">
  
  <button mat-raised-button>修改</button>
  <button mat-raised-button>刪除</button>
  <hr>
</div>

<!-- <table mat-table class="productall" *ngFor="let product of products">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID.</th>
    <td mat-cell *matCellDef="let product">{{product.id}}</td>
  </ng-container> -->

  <!-- <ul class="product" *ngFor="let product of product">
    <li>ID: {{ product.id }}</li>
    <li class="productname">商品名稱: {{ product.title }}</li>
    <li class="price">金額: {{ product.price }}</li>
    <img class="image" [src]="product.image" alt="{{ product.title }} Image">
    <button (click)="deleteProduct(product.id)">Delete</button>
  </ul> -->
    

    <!-- <ul class="product" *ngFor="let product of products">
     
        <li class="productname">商品名稱: {{ product.title }}</li>
        <li class="price">金額: {{ product.price }}</li>
        <img class="image" [src]="product.image" alt="{{ product.title }} Image">
        <button type="button" class="delete" title="delete"
          (click)="deleteProduct(product.id)">x</button>

    </ul> -->
    <!-- Add other product information here -->
  <!-- </table> -->
  

  <!-- <table mat-table  class="mat-elevation-z8 demo-table"> -->
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container> -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container> -->
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{element.weight}}</td>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container> -->
<!--   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        [class.demo-row-is-clicked]=""
        *matRowDef="let row; columns: displayedColumns;"
    ></tr> -->
  <!-- </table> -->