<app-nav></app-nav>

<table mat-table class="productall" *ngFor="let product of products">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID.</th>
    <td mat-cell *matCellDef="let product">{{product.id}}</td>
  </ng-container>
    <!-- <li>ID: {{ product.id }}</li>
    <li class="productname">商品名稱: {{ product.title }}</li>
    <li class="price">金額: {{ product.price }}</li>
    <img class="image" [src]="product.image" alt="{{ product.title }} Image">
    <button (click)="deleteProduct(product.id)">Delete</button> -->
    <!-- Add other product information here -->
  </table>
  

  <table mat-table  class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{element.weight}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        [class.demo-row-is-clicked]=""
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>